.textSize{
    font-size: 0.8rem;
    border-radius: 5px;
    width: 200px;
    height: 25px;    
    border: 1px solid rgba(65, 5, 230,0.5);
    color: rgb(11, 0, 48);

}
.item{
   font-weight: 600;
   padding: 20px;
   margin: 10px;
  
  
}

.inactivItem{
    background-color: #eee;
    
}


