.textSize{
    font-size: 0.9rem;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin:8px;
    padding-left: 30px;    
    border: 1px solid rgba(65, 5, 230,0.5);
    color: rgb(11, 0, 48);
    background-image: url('../../../Loupe_light.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
    /* background-color: rgba(256,256,256,0.1) */

}